.posts_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 2rem;
}
.spinner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
