@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.otf);
}

* {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;

}

body {
    margin: 0 auto;
    background-color: rgb(229, 229, 229);
}